@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' sans-serif;
    overflow-x: hidden;
}


body{
    background-color: black;
}


.main{ 
    height: 100vh;
    position: relative;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero img{
    margin: 10px;
}

.text-img{
    font-size: 100px;
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero{
    height: calc(100%-8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
    font-family: 'Martel Sans' sans-serif;
    gap: 23px;
    padding: 0px 23px;
    text-align: center;
}



.intro{
    font-weight: 400;
    font-size: 35px;
}



.separation {
    position: absolute;
    bottom: 3px;
    width: 100vw;
    height: 8px;
    background-color: grey;
    z-index: 120;
}

.heroBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn{
    padding: 13px 15px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    border: 0.1px solid rgba(245, 245, 245, 0.5);
    font-weight: 600;
}

.btn-pink{
    background-color: rgb(206, 39, 67);
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin: 10px;;
}


.btn-pink:hover{
    cursor: pointer;
    border: 1px solid white;
    transform: scale(1.1);
}

.first{
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw); 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.first > div > span{
    text-align: center;
    color: black;
    font-size: 65px;
    font-weight: 900;
}

.img{
    display: flex;
    gap: 200px;
}

.img img{
    width: 400px;
}

