<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CookGPT -Home</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="main" ">
      <div class="box"></div>
      <div class="hero">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" width="320">
        <span class="text-img" style="background-image: url('{{ url_for('static', filename='bg.jpg')}}');">Welcome to CookGPT.</span>
        <span class="intro">I'm here to guide you through every recipe, making cooking a breeze.</span>
        <div class="heroBtns">
            <button class="btn btn-pink" onclick="window.location.href='/form'">Get Started</button>
        </div>
      </div>
      <div class="separation"></div>
    </div>
    <section class="first"">
        <div>
            <span class="text-img" style="background-image: url('{{ url_for('static', filename='bg.jpg')}}');">Get ready to cook with confidence, courtesy of CookGPT! As your dedicated cooking buddy, I'll equip you with the skills and knowledge needed to conquer the kitchen with ease.</span>
        </div>
        <div class="img">
            <img src="{{ url_for('static', filename='img1.jpg') }}" alt="cooking img">
            <img src="{{ url_for('static', filename='img3.jpg') }}" alt="cooking img">
        </div>
    </section>
    <div class="separation"></div>
  </body>

</html>
    